@font-face {
    font-family: "xdoc";
    src: url("./font/FascinateInline-Regular.ttf") format("truetype");
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #000000;
    background: -webkit-linear-gradient(to top, #000000, #434343);
    background: linear-gradient(to top, #000000, #434343);
}

footer {
    margin: 25px;
    font-size: 15px;
    font-family: xdoc;
    color: #FFFFFF;
}

.modal-content {
    text-align: center;
    font-family: xdoc;
    font-size: 50px;
    color: #ED213A;
    border: 1px solid #ED213A !important;
    background: #000000 !important;
    background: -webkit-linear-gradient(to top, #000000, #434343) !important;
    background: linear-gradient(to top, #000000, #434343) !important;
}

.modal-footer {
    border-top: 1px solid #ED213A !important;
}

.modal-footer button {
    background-color: #ED213A !important;
    border: none;
}

.modal-footer button:hover {
    background-color: #669900 !important;
    border: none;
}

#game-board {
    background: #009933;
    background: -webkit-linear-gradient(to bottom, #009933, #004D1A);
    background: linear-gradient(to bottom, #009933, #004D1A);
    border: .25vmin solid #669900;
    min-width: 75vmin;
    min-height: 75vmin;
    display: grid;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
}

.title {
    color: #669900;
    font-size: 25px;
    font-family: xdoc;
    letter-spacing: 10px;
}

.snake {
    background-color: #669900;
    border: .25vmin solid #446600;
}

.fruit {
    background: #ED213A;
    background: -webkit-linear-gradient(to top, #93291E, #ED213A);
    background: linear-gradient(to top, #93291E, #ED213A);
    border: .25vmin solid  #93291E;
    border-radius: 50%;
}